@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'variables';

* {
  box-sizing: border-box;
}

:root {
  font-size: $core-font-size;
  font-weight: $core-font-weight;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: $core-letter-spacing;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  width: 100%;
}

// Import all of the components
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/card';
@import 'components/input';
@import 'components/layout';
@import 'components/list';
@import 'components/pagination';
@import 'components/progress';
@import 'components/step';
@import 'components/table';
@import 'components/tooltip';

// Import all of the utilities
@import 'utility/divider';
@import 'utility/depth';
@import 'utility/color';
@import 'utility/text';