ul.pure-step {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: stretch;
  width: 100%;
  flex-wrap: nowrap;

  & > li.pure-step--active {
    & ~ li {
      // Drw the incomplted step line
      &:before {
        background: $dark-gray;
      }

      // Draw the incompleted step dot
      & a:before {
        background: $dark-gray;
      }
    }

    & a {
      // Draw The current step dot
      &:before {
        background: #ffffff;
        border: solid .1rem $secondary-color;
      }
    }
  }

  & > li {
    flex: 1;
    text-align: center;
    position: relative;

    // Draw the default step line
    &:not(:first-child):before {
      background: $secondary-color;
      content: '';
      height: 0.2rem;
      left: -50%;
      position: absolute;
      top: -1.02rem;
      width: 100%;
    }

    & > a {
      color: $dark-gray;

      // Draw the completed step dot
      &:before {
        background: $secondary-color;
        border: .1rem solid #fff;
        border-radius: 50%;
        content: '';
        display: block;
        height: .6rem;
        left: 50%;
        position: absolute;
        top: -1.3rem;
        transform: translateX(-50%);
        width: .6rem;
        z-index: 1;
      }
    }
  }
}